body {
    margin: 0;
}

.navbar {
    position: absolute;
    display: none;
    background-color: rgb(186, 234, 172);
    height: 100vh;
    width: 15em;
}

.navbar a {
    display: block;
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-decoration: none;
}

.menu-btn {
    position: absolute;
    display: flex;
    margin: 1em;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn span {
    height: 5px;
    background: #333;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.menu-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0; /* desaparece la línea del medio */
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}

.hero img {
    width: 100%;
    height: 100vh;
}

.mapa1,
.mapa2 {
    text-align: center;
}

.ofertas,
.mercado,
.bazar {
    display: block;
}

.ofertas img,
.mercado img,
.bazar img {
    width: 100%;
    max-height: 30rem;
    margin-bottom: 20px;    
}

.col-md-6 h3 {
    text-align: center;
}

.col-md-6 p {
    margin-left: 20px;
}

@media (min-width: 870px) {
    .navbar a {
        margin-top: 2.5em;
    }
    
    .ubicacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .ubicacion .mapa {
        display: grid;
    }

    .ofertas,
    .mercado,
    .bazar,
    .row {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    
    .ofertas img,
    .mercado img,
    .bazar img,
    .row video {
        height: 40rem;
        /* width: 50%; */
        /* margin: 10px; */
    }

    .titulo h1 {
        text-align: center;
    }

    #posts {
        display: flex;
    }
}


@media (max-width: 990px) {

    .navbar a {
        margin-top: 2.2em;
    }

    #posts {
        display: flex;
        grid-template-columns: 1fr 1fr;
        /* margin: 25px; */
    }
    
}
